<%- include('../_layouts/adminheader') %>

<h1 class="page-header">Users </h1>
<br><br>


<table class="table table-striped">

    <thead>
        <tr class="home">
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user) { %>
        <tr>
            <td><%= user.name %><% if(user.admin == 1) { %>
                <span class="label label-warning">Admin</span>
                <% } %></td>
            <td>
                <%  if (user.username != "captainabir") { %>
                <a class="btn btn-xs btn-primary" href="/admin/users/edit-user/<%= user._id %>">Edit</a>
                <% } %>
            </td>
            <td>
                <%  if (user.admin == "0") { %>
                <a class="confirmDeletion btn btn-xs btn-danger"
                    href="/admin/users/delete-user/<%= user._id %>">Delete</a>
                <% } %>
            </td>
        </tr>
        <% }); %>
    </tbody>

</table>

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>


<%- include('../_layouts/adminfooter') %>