<% include _layouts/header %>

<div class="container bill">
  <div class="container">
    <h2 class="page-header">Order Details</h2>

    <div class="col-md-6">
      <p><b>Customer Name: </b><%= name %></p>
      <p><b>Customer Email: </b><%= email %></p>
      <p><b>Customer Mobile: </b><%= mobile %></p>
      <p><b>Customer Address: </b><%= address %></p>
    </div>
    <div class="col-md-6">
      <p><b>Total Amount: </b><%= amount %></p>
      <p><b>Shipping Cost: </b><%= shipping_cost %></p>
      <p><b>Total Bill: </b><%= bill %></p>
    </div>
  </div>

  <div class="container">
    <h2 class="">Items</h2>
    <br>
    <div class="table-responsive">
      <table class="table alignmiddle">
        <tr>
          <th>Images</th>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>

        <% cart.forEach(function(product) { %>
        <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
        <tr>
          <td><img src="<%= product.image %>" alt="" style="width: 80px;"></td>
          <td><%= product.title %></td>
          <td><%= product.price %></td>
          <td><%= product.qty %></td>
          <td><%= sub %></td>
        </tr>

        <% }); %>
      </table>

    </div>
  </div>
</div>
</div>




<% include _layouts/footer %>