<% include _layouts/header %>

<div class="container c-slide">
  <ol class="breadcrumb" style="margin-top: 15px;">
    <li><a href="/">Home</a></li>
    <li class="active">Products</li>
  </ol>



  <div class="row">



    <div class="col-xs-12 col-md-3 sidemenu">
      <h3>Categories</h3>
      <div class="btn-group-vertical" role="group" aria-label="...">
        <a class="btn btn-info" href="/products">All Products</a>
        <% categories.forEach(function(c) { %>
        <a class="btn btn-default" href="/products/<%= c.slug %>"><%= c.title %></a>
        <% }); %>
      </div>
    </div>




    <div class="col-xs-12 col-md-8 p">

      <div class="row-products">
        <%  if (category) { %>
        <h1 class="page-header cat-title"><%= category %></h1>
        <% } else { %>
        <h1 class="page-header cat-title">All Products</h1>
        <% } %>


        <% products.forEach(function(p) { %>
        <div class="col-xs-12 col-md-4 col-sm-4 col-lg-3 p-card">
          <div class="thumbnail thumb-text">
            <div class="inner">
              <a href="/products/<%= p.category %>/<%= p.slug %>" class="pa">
                <img src="/productImages/<%= p.id %>/<%= p.image %>" alt="" class="card-img-top">
              </a>
            </div>
            <div class="caption">
              <h3><b><%= p.title %></b></h3>
            </div>
            <%  if (p.discount_price && p.discount_price != "0") { %>
            <h4>Price: <del style="color: brown;"><%= parseFloat(p.price).toFixed(2) %><b>৳</b></del>
              <%= parseFloat(p.discount_price).toFixed(2) %><b>৳</b></h4>
            <% } else { %>
            <h4>Price: <%= parseFloat(p.price).toFixed(2) %><b>৳</b></h4>
            <% } %>
            <a href="/products/<%= p.category %>/<%= p.slug %>" class="btn btn-info" role="button">View Details</a>
            <%  if (p.discount_price && p.discount_price != "0") { %>
            <div class="inside colo-1">
              <div class="icon">
                <h4> Discount </h4>
              </div>
            </div>
            <% } else if(p.featured == 1) { %>
            <div class="inside colo-2">
              <div class="icon">
                <h4> Exclussive </h4>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>


</div>



<% include _layouts/footer %>