<% include _layouts/header %>

<div class="container c-slide">
  <ol class="breadcrumb" style="margin-top: 15px;">
    <li><a href="/">Home</a></li>
    <li class="active">Products</li>
  </ol>
  <div class="row">
    <div class="col-xs-12 col-md-3 sidemenu">
      <h3>Categories</h3>

      <div class="btn-group-vertical" role="group" aria-label="...">
        <a class="btn btn-info" href="/products">All Products</a>
        <% categories.forEach(function(c) { %>
        <a class="btn btn-default" href="/products/<%= c.slug %>"><%= c.title %></a>
        <% }); %>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 p">

      <div class="row-products">
        <h1 class="page-header">Products</h1>

        <% products.forEach(function(p) { %>
        <div class="col-xs-12 col-md-4 col-sm-6 p-card">
          <div class="thumbnail thumb-text">
            <div class="inner">
              <a href="/products/<%= p.category %>/<%= p.slug %>" class="pa">
                <img src="/productImages/<%= p.id %>/<%= p.image %>" alt="" class="card-img-top">
              </a>
            </div>
            <div class="caption">
              <h3><b><%= p.title %></b></h3>
            </div>
            <h4>Price: <%= p.price %><b>৳</b></h4>
            <a href="/products/<%= p.category %>/<%= p.slug %>" class="btn btn-info" role="button">View Details</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>


</div>



<% include _layouts/footer %>