<% include _layouts/header %>




<div class="container c-slide">

  <ol class="breadcrumb" style="margin-top: 15px;">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li class="active"><%= p.title %></li>
  </ol>
  <div class="row">
    <div class="col-xs-12 col-md-3 sidemenu">

      <h3>Categories</h3>
      <div class="btn-group-vertical" role="group" aria-label="...">
        <a class="btn btn-info" href="/products">All Products</a>
        <% categories.forEach(function(c) { %>
        <a class="btn btn-default" href="/products/<%= c.slug %>"><%= c.title %></a>
        <% }); %>
      </div>
    </div>


    <div class="col-xs-12 col-md-9 p">


      <h1 class="page-header"><%= p.title %></h1>
      <div class="col-xs-12 col-md-7">
        <img src="/productImages/<%= p.id %>/<%= p.image %>" alt="" class="spi">
        <br>
      </div>

      <div class="col-xs-12 col-md-5">
        <p><%= p.desc %></p>
        <p><b>Price: </b><%= parseFloat(p.price).toFixed(2) %><b>৳</b></p>
        <p><a class="btn btn-sm btn-info" href="/cart/add/<%= p.slug %>">Add to Cart</a></p>
      </div>

      <div class="col-xs-12 col-md-12">
        <ul class="gallery">
          <% galleryImages.forEach(function(image) { %>
          <% if (image != "thumbs") { %>
          <li>
            <a data-fancybox="gallery" href="/productImages/<%= p.id %>/gallery/<%= image %>">
              <img src="/productImages/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
            </a>
          </li>
          <% } %>
          <% }); %>
        </ul>

      </div>


    </div>
  </div>


</div>




<% include _layouts/footer %>